.header-container {
  display: flex;
  justify-content: flex-end;
  gap: 3rem;
  height: 100%;
  width: 100%;
  align-items: center;
}

.header-container > span {
  font-size: 1.5rem;
  font-weight: 500;
  z-index: 999;
  cursor: pointer;
  text-align: center;
}

.selected {
  color: #228b22;
  cursor: default !important;
}

.tablet-header-container {
  justify-content: center;
}
.tablet-header-container > span {
  font-size: 4.5rem;
  padding: 15px;
}

@media screen and (max-width: 767px) {
  .header-container {
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 15px;
  }
  .tablet-header-container > span {
    font-size: 3rem;
    padding: 15px;
  }
}
