.header {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 16px;
  margin-top: 16px;
  margin-left: 16px;
}

.header > span {
  font-size: 1.5rem;
  font-weight: 500;
  z-index: 999;
  cursor: pointer;
  text-align: center;
}

.selected {
  color: #228b22;
  cursor: default !important;
}

@media (max-width: 768px) {
  .header {
    flex-wrap: wrap;
    padding: 5%;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
  }
}
