.header {
  display: flex;
  justify-content: flex-end;
  gap: 3rem;
  min-height: 10dvh;
  width: 100%;
  align-items: center;
}

.header > span {
  font-size: 1.5rem;
  font-weight: 500;
  z-index: 999;
  cursor: pointer;
  text-align: center;
}

.selected {
  color: #228b22;
  cursor: default !important;
}

@media screen and (max-width: 768px) {
  .header {
    justify-content: center;
  }
  .header > span {
    font-size: 3rem;
    padding: 15;
  }
}
