.projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-cube {
  will-change: transform, opacity;
}

.arrows-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 45px;
  align-items: center;
}

.arrow-component {
  border: 2px solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px;
  cursor: pointer;
}

.arrow-component:hover {
  border: 2px solid #228b22;
  border-width: 0 3px 3px 0;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.projects-wrapper {
  display: flex;
  flex-direction: column;
}

.indicator-container {
  display: flex;
  gap: 10px;
  margin-top: 25px;
  justify-content: center;
  align-items: center;
}

.indicator-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: #6b7280;
  transition: background-color 0.3s ease;
}

@media screen and (max-width: 768px) {
  img {
    width: 300px;
    height: 300px;
  }

  .projects-container {
    max-height: 80%;
    min-height: 80%;
  }

  .projects-wrapper {
    max-height: 100%;
    min-height: 100%;
  }
}

@media screen and (max-width: 580px) {
  .arrow-component {
    display: none;
  }
}
