h1 {
  font-size: 3rem;
  font-weight: 500;
  z-index: 999;
  cursor: default;
  text-align: center;
}

.tech {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  height: 100%;
  width: 100%;
  gap: 7rem;
}

.hex {
  width: 150px;
  height: 172.6px;
  background: rgba(255, 255, 255, 0.13);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 492px) {
  img {
    width: 300px;
    height: 300px;
  }

  .hex {
    width: 82px;
    height: 92.6px;
  }

  .tech {
    width: 100vw !important;
    gap: 4rem;
  }
}
