.button {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  height: fit-content;
  background-color: rgba(26, 26, 26, 0.6);
  color: white;
  font-size: 2rem;
  font-weight: 500;
  cursor: pointer;
  padding: 0.8rem 2rem;
  border: 2px solid #228b22;
  z-index: 9999;
  border-radius: 2px;
  animation: 0.7s cubic-bezier(0.21, 1.11, 0.81, 0.99) 1.2s 1 normal backwards
    running moveInBottom;
}

.button:hover {
  background-color: rgba(26, 26, 26, 0.8);
  border: 2px solid #228b22;
}

.arrow {
  height: 20px;
  width: 15px;
}
