html,
body {
  overflow: hidden;
  background-color: black;
  font-family: montserrat, sans-serif;
  color: #fafafa;
  padding-left: 15px;
  padding-right: 15px;
}

.screen {
  height: 100vh;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.content {
  height: 100vh !important;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
