html,
body {
  overflow: hidden;
  background-color: black;
  font-family: montserrat, sans-serif;
  color: #fafafa;
  padding-left: 15px;
  padding-right: 15px;
}

:root {
  --app-height: 100dvh;
}

@supports not (height: 100dvh) {
  :root {
    --app-height: 100vh;
  }
}

.screen {
  height: var(--app-height);
  display: flex;
  flex-direction: column;
}

.header,
.footer {
  height: 10dvh;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
